@import url('https://webfontworld.github.io/Quicksand/Quicksand.css');
/* 너비	1920
	1300
메인컬러  FA8A8A */
/* header */
*{font-family: 'Quicksand';}
header {
  width: 1920px;
  height: 800px;
  background: url(../images/main_slide.jpg);
  background-size: cover;
}
/* header a {color: #fff;} */
/* header nav */
header nav {
  display: flex;
  justify-content: space-between;
  width: 1300px;
  margin: auto;
  padding-top: 30px;
}
nav > .name > p {
  color: #fa8a8a;
  font-size: 24px;
  font-weight: bold;
}
ul#list{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
ul#list>li{position: relative;
  
}
ul#list>li>a{font-size: 1rem;
  color: #fff; 
  display: block;
  width: 120px;
  padding: 1.5rem;
  box-sizing: border-box;
}
ul#list>li>a:hover{
  color: #FA8A8A;
}
ul#list>li .sub_menu{
  position: absolute;
  background-color: #FFFFFF;
  width: 103%;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 5px 5px 5px 5px;
  display: none;
}
ul#list>li .sub_menu a{
  width: 100px;
  display: block;
  padding: 0.3rem 0;
}
ul#list>li .sub_menu a:hover{
  color: black;
  background-color: #928d8d;
  font-weight: bold;
}
/* .gnb_wrap > div > ul.active{
  display: block;
} */
.gnb_wrap > div > ul > li{
  height: 20px;
  margin: 5px;
}
/* header main */
.main_inner{width: 750px;
  position: absolute;
  left: 31%;
  top: 32%;
  color: #fff;
}
.main_inner>.main_text{
  line-height: 80px;/
}
.main_inner>.main_text>h1{
  font-size: 70px;
  font-weight: bold;
  text-align:center;
}
.main_inner>.sub_text{
  text-align: center;
  font-size: 25px;
  margin-top: 25px;
}
.main_inner>.click{
  margin: 50px auto;
  width: 358px;
  display: flex;
  justify-content: space-around;
}
.main_inner>.click>a{
  color: #fff;
  border-radius: 50px 50px 50px 50px;
  width: 157px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.main_inner>.click>a:nth-child(1){
  background-color: #fa8a8a;
  border: 1px solid #fa8a8a;
}
.main_inner>.click>a:nth-child(1):hover{background-color: #ff5e5e;}
.main_inner>.click>a:nth-child(2){
  border: 1px solid #fff;
}
.main_inner>.click>a:nth-child(2):hover{background-color: #eee;
  color: #000;
}
/* choose */
.choose{
  width: 1920px;
  height: 732px;
  background-color: #D9D9D9;
  
}
.choose_inner{
  margin: auto;
  width: 1300px;
  height: 420px;
  position: absolute;
  left: 17%;
  top: 100%;
}
.choose_icon{display: flex;}
.choose_text{display: flex; gap: 20px ;}
.choose_text>h1{font-size: 40px; font-weight: bold;}
.choose_text>p{font-size: 14px;line-height: 40px;}
.choose_menu{display: flex;}  
.choose_menu>div>.tab_box{
  background-color: #eee;
  width: 127px;
  height: 53px;
  margin-top: 47px;
  line-height: 53px;
  text-align: center;
}

.choose_menu>.tabmenu2>.tab_box,
.choose_menu>.tabmenu3>.tab_box
{position: relative;
 right: 871px;
}
.choose_menu>.tabmenu1>.notice{
  width: 996px;
  height: 277px;
  background-color: #eee;
}
.choose_menu>div>.notice>ul{
  padding: 20px 20px;
  
}
.choose_menu>div>.notice>ul>li{
  display: flex;
  margin-top: 7px;
}
.choose_menu>div>.notice>ul>li>span{background-color: #D9D9D9; width: 62px; height: 21px;
  text-align: center; border-radius: 5px 5px 5px 5px;
  color: 737373;
}
.choose_menu>div>.notice>ul>li>p{
  margin-left: 20px;
  width: 730px;
  text-overflow:ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.choose_menu>div>.notice>ul>li>b{
 margin-left: 20px;
 color: #FA8A8A;
}
.choose_menu>.tabmenu2>.notice,
.choose_menu>.tabmenu3>.notice
{display: none;}
.choose_box{
  border: 1px solid #928d8d;
  width: 280px;
  height: 310px;
  position: relative;
  right: 105px;
  top: 66px;
  text-align: center;
  background-color: #eee;
  border-radius: 5px 5px 5px 5px;
}
.web{margin-top: 10px;}
.web p{font-weight: bold;}
.company{margin-top: 30px;}
.company p{margin-top: 13px;}
.learn{margin-top: 35px;
  margin-right: 130px;
}
.learn a{color: #FA8A8A;}
.learn a:hover{
  color: #ff5e5e; font-weight: bold;
} 
/* service */
.service{
  width: 1920px;
  height: 1003px;
  background: url(../images/service3.png);
  background-size: cover;
}
.service_text{
  width: 1050px;
  margin: auto;
  text-align: center;
  padding-top: 40px;
}
.service_text h1{
  font-size: 40px;
  font-weight: bold;
  padding-top: 5px;
}
.service_text p{
  font-size: 14px;
  padding-top: 5px;
}
.service_video video{width: 700px;
  height: 560px;
  transform: translate(85%,-7%);
}
.team{width: 1920px; height: 732px; }
.team_wrap{width: 1300px;
  margin: auto;
}
.team_wrap>.team_text{
  padding-top: 20px;
  text-align: center;}
.team_wrap>.team_text h1{font-size: 40px; font-weight: bold;}
.team_wrap>.team_text p{font-size: 14px;}
.team_wrap>.team_imgbox{
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}
.team_wrap>.team_imgbox>.team_img{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.team_wrap>.team_imgbox>.team_img>span{
  padding-top: 30px;
  color: #FA8A8A;
  font-weight: bold;
}
.team_wrap>.team_imgbox>.team_img>p{
  padding-top: 15px;
}
.team_wrap>.team_imgbox>.team_img>div{
  padding-top: 15px;
}
.team_wrap>.team_imgbox>.team_img>div>a{
  padding-left: 10px;
}
/* team */
/* say */
/* apo */
/* click */
/* footer */